
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>nice.js ——js真值表消消乐</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <!-- vue3 -->
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/3.2.6/vue.global.min.js"></script>
    <!-- seedrandom -->
    <script src="https://cdn.bootcdn.net/ajax/libs/seedrandom/3.0.5/seedrandom.min.js"></script>
    <style>
        /* 每个格子等大，禁用拖拽选中和右键菜单 */
        #game {
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            -webkit-user-drag: none;
            -webkit-touch-callout: none;
        }

        .game-card {
            width: 100%;
        }

        body {
            background: #bbe6ff;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="container mt-3">
            <div class="row">
                <!-- <div class="col-12">
                <h1 class="text-center">nice.js ——js真值表消消乐</h1>
                <p class="text-center">nice.js是一个js真值表消消乐恶搞游戏，页面上共有10*10个格子，内有一些表达式，如果尝试消除的两个表达式同为true或同为false，则消除成功，否则消除失败，消除成功后，剩余的表达式会向下移动，空出的位置会随机生成新的表达式，直到所有表达式都消除完毕，游戏结束。</p>
                消除操作可以连续选择相邻的多个格子，选择的格子背景色会变成蓝色。鼠标按下时开始选中，此时可以拖拽移动至相邻的格子，松开鼠标时完成选中。如果选中的格子数量大于等于2，则判断是否可以消除，如果可以消除，则消除成功，否则消除失败。
            </div> -->
                <div class="col-12">
                    <div class="alert alert-info" role="alert">
                        <div>
                            <h4 class="alert-heading">nice.js ——js真值表消消乐</h4>
                            <div class="float-end">
                                <!-- 作者 -->
                                <span class="badge bg-primary">作者：@电子旅人</span>
                                <!-- 版本 -->
                                <span class="badge bg-secondary">v0.8</span>
                            </div>
                        </div>
                        <br /><br />
                        <p>本页面灵感来源于<a href="https://www.thomas-yang.me/projects/oh-my-dear-js/"
                                target="_blank">oh-my-dear-js</a>，遇到迷惑情况也可以去看一下。仅供娱乐，想象中是作为一个语言律(wu)师的比拼工具或者什么。</p>
                        <p>使用方法：点击下方的**开始**开始你的挑战，点击并拖选多个方块，如果这些方块依次与邻接的方块的值相等（使用`==`比较为true），则可以消除。</p>
                        <p>邻接判断意味着，虽然`String("")`和`[0]`不相等，不能消除，但`String("")->Number(0)->[0]`的连接是可以消除的。因为两两相比较都是true。
                        </p>
                        <p>
                            随机数种子可以用来生成相同的局面，这方便与多人以相同开局对比能力，种子如果留空则每局都不一样。
                            附带的每日挑战功能，将会以当前日期作为种子，后续可能出个每日排行榜，但当前还没做。
                        </p>

                        <p style="color:red;">
                            初版，很多地方没搞好，大家图一乐即可。
                        </p>
                        <p>
                            在b站发了个这玩意的视频，可以看看：<a href="https://www.bilibili.com/video/BV1om4y1N7Ka/"
                                target="_blank">https://www.bilibili.com/video/BV1om4y1N7Ka/</a>
                            <br />
                            相关吐槽什么的也可以发视频评论区，这边现在是个纯静态页面，不好搞评论。
                            <hr>
                            <!-- 更新日志 -->
                            <strong>更新日志</strong>
                        <ul>
                            <li>2021-09-06 v0.82：加了一点描述类信息 </li>
                            <li>2021-09-06 v0.81：日志栏会显示当前的随机数种子了，以便于复现随机初始的局面 </li>
                            <li>2023-09-06 v0.8：初版 </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 col-lg-8">
                    <div class="row" v-for="(row, rowIndex) in tableData" :key="rowIndex" id="game">
                        <div class="col px-0" v-for="(col, colIndex) in row" :key="colIndex">
                            <!-- 要兼容移动端 -->
                            <div class="card game-card text-center" :class="col.class"
                                @mousedown="clickTdMouseDown(rowIndex, colIndex)"
                                @mouseup="clickTdMouseUp(rowIndex, colIndex)"
                                @mousemove="clickTdMouseDown(rowIndex, colIndex)"
                                @touchstart.prevent="clickTdMouseDown(rowIndex, colIndex)"
                                @touchmove.prevent="clickTdMouseDown(rowIndex, colIndex)"
                                @touchend.prevent="clickTdMouseUp(rowIndex, colIndex)" :x="rowIndex" :y="colIndex">
                                <!-- 文字纵向居中 允许换行 r1圆角-->
                                <div class="card-body p-0 d-flex align-items-center justify-content-center"
                                    style="height: 100%; word-break: break-word; border-radius: 0.25rem;"
                                    :style="{background: col.color}">
                                    {{col.text}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 控制面板等 -->
                <div class="col-12 col-lg-4">
                    <!-- 随机数种子输入栏，不填则随机，并且有不填随机的提示，右侧有个按钮是使用当前日期 -->
                    <div class="input-group mb-3">
                        <span class="input-group-text">随机数种子</span>
                        <input type="text" class="form-control" placeholder="不填则随机" v-model="seed">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                            @click="seed = getNowFormatDate()">每日挑战</button>
                    </div>
                    <br />
                    <button class="btn btn-primary" @click="startGame" style="width: 100%;">开始/重新开始</button>
                    <br /><br />
                    <!-- 计分板 -->
                    <div class="card text-dark bg-transparent">
                        <div class="card-header">
                            计分板
                            <small class="text-muted">
                                * 刷新将会重置
                            </small>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 col-lg-12">
                                    <p>当前得分：{{score}}</p>
                                </div>
                                <div class="col-6 col-lg-12">
                                    <p>最高得分：{{maxScore}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <!-- 日志框 -->
                    <div class="card text-dark bg-transparent">
                        <div class="card-header">
                            日志框
                        </div>
                        <div class="card-body">
                            <!-- 一个多行文本框，用于记录日志 -->
                            <textarea class="form-control" rows="10" readonly id="log">{{log}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <br />
                    <hr />
                </div>
            </div>
        </div>
    </div>
    <script>
        //////////////////////////////
        // 鉴于评论区有小伙伴想魔改或者完善这个东西，但这玩意其实只是随手写的单页应用，所以直接另存为这个文件就成，至于充满混乱和ai生成的代码这件事就……不要在意细节。
        // 然后在这里放一个MIT协议，本网页协议范围内随意使用（
        // MIT License
        // Copyright (c) 2023 电子旅人

        // Permission is hereby granted, free of charge, to any person obtaining a copy
        // of this software and associated documentation files (the "Software"), to deal
        // in the Software without restriction, including without limitation the rights
        // to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
        // copies of the Software, and to permit persons to whom the Software is
        // furnished to do so, subject to the following conditions:

        // The above copyright notice and this permission notice shall be included in all
        // copies or substantial portions of the Software.

        // THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
        // IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
        // FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
        // AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
        // LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
        // OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
        // SOFTWARE.
        //////////////////////////////
        // 初始化vue
        const app = Vue.createApp({
            data() {
                return {
                    tableData: [],
                    // 用于记录当前点击的格子
                    selectedTd: [],
                    // 表达式数据
                    exprData: ['null', 'undefined', 'false', 'Boolean\n(false)', '[]', '[[]]', '""', 'String\n("")', '0', 'Number\n(0)', '"0"', 'String\n("0")', '[0]', 'true', 'Boolean\n(true)', '1', 'Number\n(1)', '"1"', 'String\n("1")', '[1]', '-1', 'Number\n(-1)', '"-1"', 'String\n("-1")', '[-1]'],
                    exprColor: [],
                    score: 0,
                    maxScore: 0,
                    log: '',
                    seed: '',

                }
            },
            // 初始化
            created() {
                // 绑定窗口大小改变事件
                window.addEventListener('resize', this.resize);
            },
            methods: {
                // 生成日期
                getNowFormatDate() {
                    let date = new Date();
                    let year = date.getFullYear();
                    let month = date.getMonth() + 1;
                    let day = date.getDate();

                    if (month < 10) {
                        month = '0' + month;
                    }

                    if (day < 10) {
                        day = '0' + day;
                    }

                    return year + '-' + month + '-' + day;
                },
                // 窗口大小改变事件
                resize() {
                    // 设置卡片类的高度等于宽度 字体大小等于宽度的1/4 不超过16px
                    let cards = document.getElementsByClassName('game-card');
                    for (let i = 0; i < cards.length; i++) {
                        cards[i].style.height = cards[i].offsetWidth + 'px';
                        cards[i].style.fontSize = Math.min(cards[i].offsetWidth / 5.3, 16) + 'px';
                    }
                },
                // 开始游戏
                startGame: async function () {
                    // 初始化随机数种子
                    let seed = this.seed;
                    if (this.seed == '') {
                        // 当前时间戳
                        seed = new Date().getTime().toString();
                    }
                    Math.seedrandom(seed);

                    // 初始化表达式颜色列表
                    this.exprColor = [];
                    for (let i = 0; i < this.exprData.length; i++) {
                        this.exprColor.push(this.getRandomColor());
                    }
                    // 初始化表格数据
                    this.initTableData();

                    this.$nextTick(() => {
                        // 窗口大小改变事件
                        this.resize();
                        // 滚动到game组件
                        document.getElementById('game').scrollIntoView();
                    });

                    // 初始化分数
                    this.score = 0;
                    // 初始化日志
                    this.log = '一次性消除多个格子会有更高分数\n当前没有连锁消除功能\n当前种子：' + seed + '\n';

                },
                // 初始化表格数据
                initTableData: async function () {
                    // 初始化表格数据
                    this.tableData = [];
                    for (let i = 0; i < 10; i++) {
                        let row = [];
                        for (let j = 0; j < 10; j++) {
                            let [text, color] = this.getRandomData();
                            row.push({
                                text: text,
                                class: '',
                                color: color,
                                x: i,
                                y: j,
                            });
                        }
                        this.tableData.push(row);
                    }
                },
                // 获取随机的表达式和颜色
                getRandomData() {
                    let r = Math.floor(Math.random() * this.exprData.length);
                    let data = this.exprData[r];
                    let color = this.exprColor[r];
                    return [data, color];
                },
                // 获取随机的颜色
                getRandomColor() {
                    // 生成低饱和度的浅彩色十六进制
                    // 色调 0~1
                    // 饱和度 0.5~1
                    // 亮度 0.8~0.95
                    let hue = Math.random();
                    let saturation = Math.random() * 0.5 + 0.5;
                    let lightness = Math.random() * 0.15 + 0.8;
                    let rgb = this.hslToRgb(hue, saturation, lightness);
                    return '#' + this.rgbToHex(rgb[0]) + this.rgbToHex(rgb[1]) + this.rgbToHex(rgb[2]);
                },
                // HSL转RGB
                hslToRgb(h, s, l) {
                    let r, g, b;
                    if (s == 0) {
                        r = g = b = l; // achromatic
                    } else {
                        let hue2rgb = function hue2rgb(p, q, t) {
                            if (t < 0) t += 1;
                            if (t > 1) t -= 1;
                            if (t < 1 / 6) return p + (q - p) * 6 * t;
                            if (t < 1 / 2) return q;
                            if (t < 2 / 3) return p + (q - p) * (2 / 3 - t) * 6;
                            return p;
                        };
                        let q = l < 0.5 ? l * (1 + s) : l + s - l * s;
                        let p = 2 * l - q;
                        r = hue2rgb(p, q, h + 1 / 3);
                        g = hue2rgb(p, q, h);
                        b = hue2rgb(p, q, h - 1 / 3);
                    }
                    return [Math.round(r * 255), Math.round(g * 255), Math.round(b * 255)];
                },
                // RGB转十六进制
                rgbToHex(rgb) {
                    let hex = Number(rgb).toString(16);
                    if (hex.length < 2) {
                        hex = "0" + hex;
                    }
                    return hex;
                },
                // 点击格子
                clickTdMouseDown(rowIndex, colIndex) {
                    // 如果是鼠标模式并且左键没有按下
                    if (event.type == 'mousedown' || event.type == 'mousemove' || event.type == 'mouseup') {
                        // 如果是左键没有按下
                        if (event.buttons != 1) {
                            return;
                        }
                    }
                    // 如果当前格子没有被选中，则选中
                    // 获取当前格子 使用document.elementFromPoint

                    if (event.type == 'touchstart' || event.type == 'touchmove' || event.type == 'touchend') {
                        let x, y;
                        x = event.touches[0].clientX;
                        y = event.touches[0].clientY;
                        let td = document.elementFromPoint(x, y);
                        // 如果当前格子不是game-card或者game-card的子元素，则不需要处理
                        let flagc = false;
                        while (td) {
                            if (td.classList.contains('game-card')) {
                                flagc = true;
                                break;
                            }
                            td = td.parentElement;
                        }
                        if (flagc) {
                            // 更新行列
                            rowIndex = parseInt(td.getAttribute('x'));
                            colIndex = parseInt(td.getAttribute('y'));
                        }
                    }


                    // 如果当前格子已经被选中，则不需要处理
                    for (let i = 0; i < this.selectedTd.length; i++) {
                        if (this.selectedTd[i].rowIndex == rowIndex && this.selectedTd[i].colIndex == colIndex) {
                            return;
                        }
                    }
                    // 判断当前格子是否在上一个选中的格子的上下左右四个方向
                    let flag = false;

                    if (this.selectedTd.length == 0) {
                        flag = true;
                    } else {
                        let lastTd = this.selectedTd[this.selectedTd.length - 1];
                        if (lastTd) {
                            if (rowIndex == lastTd.rowIndex && colIndex == lastTd.colIndex - 1) {
                                // 如果当前格子在上一个选中的格子的左边，则选中当前格子
                                flag = true;
                            }
                            else if (rowIndex == lastTd.rowIndex && colIndex == lastTd.colIndex + 1) {
                                // 如果当前格子在上一个选中的格子的右边，则选中当前格子
                                flag = true;
                            }
                            else if (rowIndex == lastTd.rowIndex - 1 && colIndex == lastTd.colIndex) {
                                // 如果当前格子在上一个选中的格子的上边，则选中当前格子
                                flag = true;
                            }
                            else if (rowIndex == lastTd.rowIndex + 1 && colIndex == lastTd.colIndex) {
                                // 如果当前格子在上一个选中的格子的下边，则选中当前格子
                                flag = true;
                            }
                        }
                    }

                    if (!flag) {

                        return;
                    }
                    // 将当前格子的背景色置为蓝色
                    this.tableData[rowIndex][colIndex].class = 'bg-primary';
                    // 将上一个选中的格子的背景色置绿色
                    if (this.selectedTd.length > 0) {
                        let lastTd = this.selectedTd[this.selectedTd.length - 1];
                        this.tableData[lastTd.rowIndex][lastTd.colIndex].class = 'bg-success';
                    }

                    // 记录当前选中的格子
                    this.selectedTd.push({
                        rowIndex: rowIndex,
                        colIndex: colIndex,
                    });
                },
                // 松开格子
                clickTdMouseUp: async function (rowIndex, colIndex) {
                    // 判断是否可以消除
                    await this.checkCanRemove();
                    // 清空选中的格子
                    for (let i = 0; i < this.selectedTd.length; i++) {
                        this.tableData[this.selectedTd[i].rowIndex][this.selectedTd[i].colIndex].class = '';
                    }
                    this.selectedTd = [];
                    this.addLog('-'.repeat(12));
                },
                // 判断是否可以消除
                checkCanRemove: async function () {
                    // 如果选中的格子数量小于2，则不需要判断
                    if (this.selectedTd.length < 2) {
                        return;
                    }
                    // 判断是否可以消除
                    let canRemove = true;
                    // 获取第一个格子的表达式
                    let firstText = this.tableData[this.selectedTd[0].rowIndex][this.selectedTd[0].colIndex].text;
                    // 遍历选中的格子
                    for (let i = 1; i < this.selectedTd.length; i++) {
                        // 获取当前格子的表达式
                        let currentText = this.tableData[this.selectedTd[i].rowIndex][this.selectedTd[i].colIndex].text;
                        // 如果当前格子的表达式与第一个格子的表达式不相同，则不能消除
                        // if (!(currentText == firstText)) {
                        // 移除换行符
                        currentText = currentText.replace(/\n/g, '');
                        firstText = firstText.replace(/\n/g, '');
                        if (!(eval(currentText) == eval(firstText))) {
                            canRemove = false;
                            this.addLog(currentText + ' != ' + firstText + '，不能消除！');
                            break;
                        }
                        firstText = currentText;
                    }
                    // 如果可以消除，则消除
                    if (canRemove) {
                        // 记录日志
                        // 拼合前面的表达式
                        let text = [];
                        for (let i = 0; i < this.selectedTd.length; i++) {
                            text.push(this.tableData[this.selectedTd[i].rowIndex][this.selectedTd[i].colIndex].text);
                        }
                        let text2 = [];
                        let firstExpr = text[0];
                        for (let i = 1; i < text.length; i++) {
                            text2.push(firstExpr + ' == ' + text[i]);
                            firstExpr = text[i];
                        }
                        // 移除换行符
                        text2 = text2.map((item) => {
                            return item.replace(/\n/g, '');
                        });
                        this.addLog(text2.join('\n') + '\n消除成功！');
                        // 计算得分
                        let t_score = 1;
                        // 遍历选中的格子
                        for (let i = 0; i < this.selectedTd.length; i++) {
                            // 获取当前格子的行号和列号
                            let rowIndex = this.selectedTd[i].rowIndex;
                            let colIndex = this.selectedTd[i].colIndex;
                            // 将当前格子的表达式置为空
                            this.tableData[rowIndex][colIndex].text = '';
                            // 将当前格子的背景色置为空
                            this.tableData[rowIndex][colIndex].class = '';

                            // 计算得分
                            t_score += i;
                        }
                        // 计算得分
                        this.score += t_score;
                        // 更新最高得分
                        if (this.score > this.maxScore) {
                            this.maxScore = this.score;
                        }
                        this.addLog('分数增加：' + t_score);
                        // 将剩余的格子向下移动
                        await this.moveDown();
                        // 生成新的表达式
                        this.generateNewText();
                    }
                    else {

                    }
                },
                // 将剩余的格子向下移动
                moveDown: async function () {
                    // 遍历每一列
                    for (let colIndex = 0; colIndex < 10; colIndex++) {
                        // 倒序
                        for (let rowIndex = 10 - 1; rowIndex >= 0; rowIndex--) {
                            // 如果当前格子的表达式为空，则将当前格子上面的格子的表达式填充到当前格子
                            if (this.tableData[rowIndex][colIndex].text == '') {
                                // 延迟0.05秒
                                await new Promise((resolve, reject) => {
                                    setTimeout(() => {
                                        resolve();
                                    }, 50);
                                });
                                // 找到当前格子上面的第一个非空格子
                                let flag = false;
                                for (let i = rowIndex - 1; i >= 0; i--) {
                                    // 如果找到了非空格子，则将其表达式填充到当前格子
                                    if (this.tableData[i][colIndex].text != '') {
                                        this.tableData[rowIndex][colIndex].text = this.tableData[i][colIndex].text;
                                        this.tableData[rowIndex][colIndex].color = this.tableData[i][colIndex].color;
                                        this.tableData[i][colIndex].text = '';
                                        this.tableData[i][colIndex].color = '';
                                        flag = true;
                                        break;
                                    }
                                }
                                if (!flag) {
                                    let [text, color] = this.getRandomData();
                                    this.tableData[rowIndex][colIndex].text = text;
                                    this.tableData[rowIndex][colIndex].color = color;
                                }
                            }
                        }

                    }
                },
                // 生成新的表达式
                generateNewText() {
                    // 遍历每一列
                    for (let colIndex = 0; colIndex < 10; colIndex++) {
                        // 获取当前列的空格子数量
                        let emptyCount = 0;
                        for (let rowIndex = 0; rowIndex < 10; rowIndex++) {
                            // 如果当前格子的表达式为空，则空格子数量加1
                            if (this.tableData[rowIndex][colIndex].text == '') {
                                emptyCount++;
                            }
                        }
                        // 随机生成空格子数量个表达式
                        for (let i = 0; i < emptyCount; i++) {
                            // 随机生成表达式
                            let [text, color] = this.getRandomData();
                            // 随机生成空格子的位置
                            let rowIndex = Math.floor(Math.random() * (10 - emptyCount));
                            // 将表达式填充到空格子的位置
                            this.tableData[rowIndex][colIndex].text = text;
                            this.tableData[rowIndex][colIndex].color = color;
                        }
                    }
                },
                addLog(text) {
                    this.log += text + '\n';
                    // 滚动到底部
                    this.$nextTick(() => {
                        let log = document.getElementById('log');
                        log.scrollTop = log.scrollHeight;
                    });
                }
            },
        });
        // 挂载vue
        app.mount('#app');

    </script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>